In [2]:
import pandas as pd
import json

In [3]:
import tensorflow as tf
import keras
config = tf.ConfigProto(device_count = {'GPU': 8, 'CPU':16}) 
sess = tf.Session(config=config) 
keras.backend.set_session(sess)

Using TensorFlow backend.

In [4]:
import requests

In [5]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [6]:
url = '/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT.json'

In [7]:
def get_ann(url):
    with open(url) as jfile:
        j = json.load(jfile)
        ann_df = pd.DataFrame(j['annotations'])
        img_df = pd.DataFrame(j['images'])
        cat_df = pd.DataFrame(j['categories'])    
    imgdata = pd.DataFrame.merge(ann_df, img_df, how='inner', left_on='image_id', right_on='id')
    img_label_data = pd.DataFrame.merge(imgdata, cat_df, how = 'inner', left_on = 'category_id', right_on = 'id')
    return img_label_data, img_df

In [8]:
z, _ = get_ann(url)

In [9]:
z['name'].value_counts()

empty            131457
opossum           14106
raccoon            8623
coyote             7209
rabbit             6938
deer               6102
bobcat             5975
cat                4759
squirrel           3398
dog                3035
rodent             2210
skunk              1361
fox                1093
mountain_lion        33
Name: name, dtype: int64

In [10]:
url_2 = '/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT_images'

In [11]:
# for images in z['image_id']:
#     img=mpimg.imread(url_2 + "/" + images + ".jpg")

In [12]:
# img = mpimg.imread('/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT_images/58c7f128-23d2-11e8-a6a3-ec086b02610b.jpg')

In [13]:
# imgplot = plt.imshow(img)

In [14]:
url_idaho = '/data/animals/iWildCam_2019_iNat_Idaho/iWildCam_2019_iNat_Idaho.json'

In [15]:
def get_idaho(url):
    with open(url) as jfile:
        j = json.load(jfile)
        ann_df_idaho = pd.DataFrame(j['annotations'])
        img_df_idaho = pd.DataFrame(j['images'])
        cat_df_idaho = pd.DataFrame(j['categories'])    
    imgdata_idaho = pd.DataFrame.merge(ann_df_idaho, img_df_idaho, how='inner', left_on='image_id', right_on='id')
    img_file_data_idaho = pd.DataFrame.merge(imgdata_idaho, cat_df_idaho, how='inner', left_on='category_id', right_on='id')
    return img_file_data_idaho

In [16]:
idaho = get_idaho(url_idaho)

In [17]:
idaho['name'].value_counts()

deer             5097
squirrel         4713
small_mammal     3411
raccoon          2540
coyote           2281
rabbit           2010
bobcat           1238
fox              1188
black_bear        905
skunk             716
prongs            429
bison             314
bighorn_sheep     254
cat               195
mountain_lion     146
mountain_goat     144
rodent             64
wolf               37
moose              22
elk                 9
Name: name, dtype: int64

In [18]:
idaho.head()

,category_id,id_x,image_id,inat_species,file_name,height,id_y,inat_year,license,rights_holder,width,id,inat_species_list,name
0,3,1,1,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/6e...,532,1,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
1,3,2,2,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/dc...,533,2,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
2,3,3,3,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/f9...,532,3,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
3,3,4,4,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/4b...,564,4,2017,3,edd goodson,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
4,3,4,4,Marmota flaviventris,train_val2018/Mammalia/4219/60c8365f55c2f4e790...,533,4,2018,1,J. N. Stuart,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel

In [19]:
idaho['inat_species'].value_counts()

Odocoileus virginianus         3227
Sciurus niger                  2973
Procyon lotor                  2540
Canis latrans                  2281
Odocoileus hemionus            1870
Lynx rufus                     1238
Sylvilagus floridanus          1213
Vulpes vulpes                  1188
Castor canadensis              1164
Tamiasciurus hudsonicus         951
Ursus americanus                905
Mephitis mephitis               716
Lepus californicus              670
Lontra canadensis               523
Erethizon dorsatum              512
Antilocapra americana           429
Ochotona princeps               425
Ondatra zibethicus              392
Callospermophilus lateralis     391
Marmota flaviventris            349
Bison bison                     314
Ovis canadensis                 254
Neovison vison                  247
Felis catus                     195
Puma concolor                   146
Oreamnos americanus             144
Lepus americanus                107
Taxidea taxus                    93
Mustela frenata                  55
Peromyscus maniculatus           42
Canis lupus                      37
Urocitellus columbianus          29
Microtus pennsylvanicus          22
Alces alces                      22
Urocitellus armatus              20
Sylvilagus nuttallii             20
Cervus canadensis                 9
Name: inat_species, dtype: int64

In [20]:
idaho.head()

,category_id,id_x,image_id,inat_species,file_name,height,id_y,inat_year,license,rights_holder,width,id,inat_species_list,name
0,3,1,1,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/6e...,532,1,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
1,3,2,2,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/dc...,533,2,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
2,3,3,3,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/f9...,532,3,2017,3,R.J. Adams,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
3,3,4,4,Marmota flaviventris,train_val2017/Mammalia/Marmota flaviventris/4b...,564,4,2017,3,edd goodson,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel
4,3,4,4,Marmota flaviventris,train_val2018/Mammalia/4219/60c8365f55c2f4e790...,533,4,2018,1,J. N. Stuart,800,3,"[Urocitellus brunneus, Neotamias ruficaudus, U...",squirrel

In [21]:
idaho_updated = idaho.drop(['id_x', 'image_id', 'inat_species', 'height', 'id_y', 'inat_year', 'license', 'rights_holder', 'width','id','inat_species_list'], axis=1)

In [22]:
idaho_updated.head

<bound method NDFrame.head of        category_id                                          file_name  \
0                3  train_val2017/Mammalia/Marmota flaviventris/6e...
1                3  train_val2017/Mammalia/Marmota flaviventris/dc...
2                3  train_val2017/Mammalia/Marmota flaviventris/f9...
3                3  train_val2017/Mammalia/Marmota flaviventris/4b...
4                3  train_val2018/Mammalia/4219/60c8365f55c2f4e790...
5                3  train_val2017/Mammalia/Marmota flaviventris/ab...
6                3  train_val2017/Mammalia/Marmota flaviventris/7a...
7                3  train_val2017/Mammalia/Marmota flaviventris/ca...
8                3  train_val2017/Mammalia/Marmota flaviventris/12...
9                3  train_val2017/Mammalia/Marmota flaviventris/f6...
10               3  train_val2017/Mammalia/Marmota flaviventris/19...
11               3  train_val2017/Mammalia/Marmota flaviventris/15...
12               3  train_val2017/Mammalia/Marmota flaviventris/e6...
13               3  train_val2017/Mammalia/Marmota flaviventris/1c...
14               3  train_val2017/Mammalia/Marmota flaviventris/4c...
15               3  train_val2017/Mammalia/Marmota flaviventris/d7...
16               3  train_val2017/Mammalia/Marmota flaviventris/12...
17               3  train_val2017/Mammalia/Marmota flaviventris/c9...
18               3  train_val2017/Mammalia/Marmota flaviventris/11...
19               3  train_val2017/Mammalia/Marmota flaviventris/12...
20               3  train_val2017/Mammalia/Marmota flaviventris/23...
21               3  train_val2017/Mammalia/Marmota flaviventris/29...
22               3  train_val2017/Mammalia/Marmota flaviventris/74...
23               3  train_val2017/Mammalia/Marmota flaviventris/9b...
24               3  train_val2017/Mammalia/Marmota flaviventris/19...
25               3  train_val2017/Mammalia/Marmota flaviventris/c3...
26               3  train_val2017/Mammalia/Marmota flaviventris/7f...
27               3  train_val2017/Mammalia/Marmota flaviventris/10...
28               3  train_val2017/Mammalia/Marmota flaviventris/bd...
29               3  train_val2017/Mammalia/Marmota flaviventris/0b...
...            ...                                                ...
25683            6  train_val2018/Mammalia/4065/6e2a782c5c7d306947...
25684            6  train_val2018/Mammalia/4065/500bcb30d6f8f8d5c1...
25685            6  train_val2018/Mammalia/4065/e86edefef12bee4cf4...
25686            6  train_val2018/Mammalia/4065/63a87a9b0780608d6f...
25687            6  train_val2018/Mammalia/4065/9ae6dc64e00b81912a...
25688            6  train_val2018/Mammalia/4065/668f293cd9774d1fd6...
25689            6  train_val2018/Mammalia/4065/e9c1fb91f02f258caf...
25690            6  train_val2018/Mammalia/4065/2338ed606dc01991cf...
25691            2  train_val2018/Mammalia/4062/9526137e391c28d7c0...
25692            2  train_val2018/Mammalia/4062/cfc099559a56674b92...
25693            2  train_val2018/Mammalia/4062/6ed81743343cffc7b8...
25694            2  train_val2018/Mammalia/4062/e8cd4319f0d30d0f38...
25695            2  train_val2018/Mammalia/4062/6bf2ae6d5bda1e62a6...
25696            2  train_val2018/Mammalia/4062/fec551927ed1490c10...
25697            2  train_val2018/Mammalia/4062/5b97f3b5057ed17c8f...
25698            2  train_val2018/Mammalia/4062/cf2733b654838875b8...
25699            2  train_val2018/Mammalia/4062/b18db1e2424683064c...
25700            2  train_val2018/Mammalia/4062/881a4b02e2cee75412...
25701            2  train_val2018/Mammalia/4062/5356520c0871d945b4...
25702            2  train_val2018/Mammalia/4062/5fc94ffe105ed3e710...
25703            2  train_val2018/Mammalia/4062/f0731c464270d2f4ae...
25704            2  train_val2018/Mammalia/4062/473f9dccef1eb20188...
25705            2  train_val2018/Mammalia/4062/cdf2f6fe7ef7bc01ae...
25706            2  train_val2018/Mammalia/4062/1e4f35ffa566369ad5...
25707            2  train_val2018/Mammalia/4062/f943f645fb3c6a0ef3...
25708            2  train_val2018/Mammalia/4062/e749abade9571e4064...
25709            2  train_val2018/Mammalia/4062/d1ec5e167e53f2cb43...
25710            2  train_val2018/Mammalia/4062/a8eabed3daab9ed5ed...
25711            2  train_val2018/Mammalia/4062/527d4335fe00231a57...
25712            2  train_val2018/Mammalia/4062/f094787f917c03feb4...

           name
0      squirrel
1      squirrel
2      squirrel
3      squirrel
4      squirrel
5      squirrel
6      squirrel
7      squirrel
8      squirrel
9      squirrel
10     squirrel
11     squirrel
12     squirrel
13     squirrel
14     squirrel
15     squirrel
16     squirrel
17     squirrel
18     squirrel
19     squirrel
20     squirrel
21     squirrel
22     squirrel
23     squirrel
24     squirrel
25     squirrel
26     squirrel
27     squirrel
28     squirrel
29     squirrel
...         ...
25683       elk
25684       elk
25685       elk
25686       elk
25687       elk
25688       elk
25689       elk
25690       elk
25691     moose
25692     moose
25693     moose
25694     moose
25695     moose
25696     moose
25697     moose
25698     moose
25699     moose
25700     moose
25701     moose
25702     moose
25703     moose
25704     moose
25705     moose
25706     moose
25707     moose
25708     moose
25709     moose
25710     moose
25711     moose
25712     moose

[25713 rows x 3 columns]>

In [23]:

cct_updated = z.drop(['id_x', 'image_id','date_captured', 'frame_num', 'height', 'id_y', 'location', 'rights_holder', 'width','seq_id','seq_num_frames','width', 'id'], axis=1)

In [24]:
cct_updated[cct_updated['category_id']==4]

        category_id                                 file_name    name
155899            4  595f7b9c-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155900            4  59eab924-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155901            4  5957c444-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155902            4  5a0e36da-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155903            4  59f944af-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155904            4  59595122-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155905            4  59ef8f13-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155906            4  5a2638b8-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155907            4  59e10459-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155908            4  594ced35-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155909            4  595f7a3a-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155910            4  5a24a847-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155911            4  5957c42a-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155912            4  59c99ef9-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155913            4  5a24a98f-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155914            4  59bfdd87-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155915            4  59aadbc2-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155916            4  5976a397-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155917            4  59c806a1-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155918            4  595c6883-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155919            4  595635ed-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155920            4  5a116ec1-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155921            4  5987b55e-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155922            4  597cd6bd-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155923            4  59fc7e80-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155924            4  58ce3ee6-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155925            4  59eab9c8-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155926            4  597830de-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155927            4  5954a884-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
155928            4  596291ce-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
...             ...                                       ...     ...
158079            4  5a1cb159-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158080            4  59adfc7d-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158081            4  594cea7c-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158082            4  598f7838-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158083            4  594e7844-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158084            4  59be410d-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158085            4  59fc7f9b-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158086            4  5a17df4a-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158087            4  59500513-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158088            4  59aada1b-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158089            4  59738754-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158090            4  596bd954-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158091            4  59cb39d2-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158092            4  5965ac65-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158093            4  59629452-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158094            4  598ad0c1-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158095            4  598ace15-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158096            4  59641d59-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158097            4  595f7c59-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158098            4  598f7687-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158099            4  5986243e-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158100            4  5a015e3f-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158101            4  5a0969f2-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158102            4  59fc7ff6-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158103            4  59f5fca6-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158104            4  5991066c-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158105            4  59fe23eb-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158106            4  5a163f28-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158107            4  5a2e1351-23d2-11e8-a6a3-ec086b02610b.jpg  rodent
158108            4  596d6468-23d2-11e8-a6a3-ec086b02610b.jpg  rodent

[2210 rows x 3 columns]

In [25]:
print(cct_updated['category_id'].value_counts())
print(len(cct_updated))

0     131457
19     14106
13      8623
11      7209
8       6938
1       6102
16      5975
17      4759
3       3398
18      3035
4       2210
14      1361
10      1093
22        33
Name: category_id, dtype: int64
196299

In [26]:
cct_updated.head()

   category_id                                 file_name     name
0           19  5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
1           19  588a679f-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
2           19  5883e97b-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
3           19  58d47cf1-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
4           19  58d15f82-23d2-11e8-a6a3-ec086b02610b.jpg  opossum

In [27]:
print(idaho_updated['category_id'].value_counts())
print(len(idaho_updated))

1     5097
3     4713
5     3411
13    2540
11    2281
8     2010
16    1238
10    1188
12     905
14     716
7      429
20     314
9      254
17     195
22     146
21     144
4       64
15      37
2       22
6        9
Name: category_id, dtype: int64
25713

In [28]:
# idaho_updated[idaho_updated['category_id']==4]

In [29]:
idaho_cct = pd.concat([cct_updated, idaho_updated])

In [30]:
len(idaho_cct)

222012

In [31]:
idaho_cct['name'].value_counts()

empty            131457
opossum           14106
deer              11199
raccoon           11163
coyote             9490
rabbit             8948
squirrel           8111
bobcat             7213
cat                4954
small_mammal       3411
dog                3035
fox                2281
rodent             2274
skunk              2077
black_bear          905
prongs              429
bison               314
bighorn_sheep       254
mountain_lion       179
mountain_goat       144
wolf                 37
moose                22
elk                   9
Name: name, dtype: int64

In [32]:
# print(idaho_cct['file_name'][])

In [33]:
idaho_cct['file_name'].value_counts()

58d6122d-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
585a6471-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
59328bc4-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58d16024-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
5871845f-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
586c89e7-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58bea812-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58ef6e02-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58fa5e6f-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58ede29b-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
593a4d55-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58c1c1f8-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58857dd0-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58d614ce-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
587828b7-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
585f4e22-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58e282bf-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
5a1cafac-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
5892b57f-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58dabf6d-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
591fd32d-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
5897b2b9-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58dabde5-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
592de62a-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58e40c71-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
58ac0c49-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
593d6a4b-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
589cb234-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
5858c105-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
593100d4-23d2-11e8-a6a3-ec086b02610b.jpg                                         4
                                                                                ..
58871a2f-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59eab7fb-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
58c1c24b-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59b2ec17-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59b12e65-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
5979bb3c-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
595951be-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59862411-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
train_val2018/Mammalia/4068/ce53c4aaf784c9ef30cd71875c3c49ec.jpg                 1
58678ecd-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
58c6631c-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59f4622c-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59531ca0-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
58a53125-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
train_val2017/Mammalia/Castor canadensis/6f87c51d8ca1a6d1ab4d1228f277136c.jpg    1
59fe229b-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
585a65be-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
587681da-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59b614cd-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
5a02fbed-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59edf0c3-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
589110af-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
585f4f6d-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59bfdd52-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
59a17af4-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
58ff0d1d-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
592f719a-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
5937346c-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
586fdb3d-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
590d2e09-23d2-11e8-a6a3-ec086b02610b.jpg                                         1
Name: file_name, Length: 221349, dtype: int64

In [34]:
idaho_cct[idaho_cct['file_name']=='58d16024-23d2-11e8-a6a3-ec086b02610b.jpg']

        category_id                                 file_name    name
153216            8  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  rabbit
153217            8  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  rabbit
183710           16  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  bobcat
183711           16  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  bobcat

In [35]:
# img_test = mpimg.imread('/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT_images/58d16024-23d2-11e8-a6a3-ec086b02610b.jpg')

In [36]:
# plt.imshow(img_test)

In [37]:
cct_updated[cct_updated['file_name']=='58d16024-23d2-11e8-a6a3-ec086b02610b.jpg']

        category_id                                 file_name    name
153216            8  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  rabbit
153217            8  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  rabbit
183710           16  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  bobcat
183711           16  58d16024-23d2-11e8-a6a3-ec086b02610b.jpg  bobcat

In [38]:
z[z['file_name']=='58d16024-23d2-11e8-a6a3-ec086b02610b.jpg']

,category_id,id_x,image_id,date_captured,file_name,frame_num,height,id_y,location,rights_holder,seq_id,seq_num_frames,width,id,name
153216,8,2bbbeac2-cbf1-11e8-819c-970a9450cdbc,58d16024-23d2-11e8-a6a3-ec086b02610b,2011-08-15 17:23:30,58d16024-23d2-11e8-a6a3-ec086b02610b.jpg,2,1494,58d16024-23d2-11e8-a6a3-ec086b02610b,125,Justin Brown,6f15e575-5567-11e8-86cd-dca9047ef277,3,2048,8,rabbit
153217,8,2bbbeac2-cbf1-11e8-819c-970a9450cdbc,58d16024-23d2-11e8-a6a3-ec086b02610b,2011-08-15 17:23:30,58d16024-23d2-11e8-a6a3-ec086b02610b.jpg,2,1494,58d16024-23d2-11e8-a6a3-ec086b02610b,125,Justin Brown,6f15e575-5567-11e8-86cd-dca9047ef277,3,2048,8,rabbit
183710,16,2bbbe9d2-cbf1-11e8-819c-970a9450cdbc,58d16024-23d2-11e8-a6a3-ec086b02610b,2011-08-15 17:23:30,58d16024-23d2-11e8-a6a3-ec086b02610b.jpg,2,1494,58d16024-23d2-11e8-a6a3-ec086b02610b,125,Justin Brown,6f15e575-5567-11e8-86cd-dca9047ef277,3,2048,16,bobcat
183711,16,2bbbe9d2-cbf1-11e8-819c-970a9450cdbc,58d16024-23d2-11e8-a6a3-ec086b02610b,2011-08-15 17:23:30,58d16024-23d2-11e8-a6a3-ec086b02610b.jpg,2,1494,58d16024-23d2-11e8-a6a3-ec086b02610b,125,Justin Brown,6f15e575-5567-11e8-86cd-dca9047ef277,3,2048,16,bobcat

In [39]:
# weird_2[weird_2['file_name']=='.jpg']

In [40]:
weird_1, weird_2 = get_ann(url)

In [41]:
len(weird_2)

196157

In [42]:
len(weird_1)

196299

In [43]:
idaho_cct.head()

   category_id                                 file_name     name
0           19  5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
1           19  588a679f-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
2           19  5883e97b-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
3           19  58d47cf1-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
4           19  58d15f82-23d2-11e8-a6a3-ec086b02610b.jpg  opossum

In [44]:
idaho_cct_updated = idaho_cct.drop_duplicates()

In [45]:
len(idaho_cct_updated)

221824

In [46]:
len(idaho_cct)

222012

In [47]:
idaho_cct_updated[idaho_cct_updated['file_name']=='train_val2017/Mammalia/Mephitis mephitis/faf0951a807717fd29db381679b00892.jpg']

,category_id,file_name,name
425,3,train_val2017/Mammalia/Mephitis mephitis/faf09...,squirrel
22706,14,train_val2017/Mammalia/Mephitis mephitis/faf09...,skunk

In [48]:
idaho_cct_updated.head()

   category_id                                 file_name     name
0           19  5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
1           19  588a679f-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
2           19  5883e97b-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
3           19  58d47cf1-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
4           19  58d15f82-23d2-11e8-a6a3-ec086b02610b.jpg  opossum

In [49]:
idaho_updated.category_id.value_counts()

1     5097
3     4713
5     3411
13    2540
11    2281
8     2010
16    1238
10    1188
12     905
14     716
7      429
20     314
9      254
17     195
22     146
21     144
4       64
15      37
2       22
6        9
Name: category_id, dtype: int64

In [50]:
cct_updated.category_id.value_counts()

0     131457
19     14106
13      8623
11      7209
8       6938
1       6102
16      5975
17      4759
3       3398
18      3035
4       2210
14      1361
10      1093
22        33
Name: category_id, dtype: int64

In [51]:
import numpy as np

In [52]:
len(cct_updated)

196299

In [53]:
cct_updated.head()

   category_id                                 file_name     name
0           19  5998cfa4-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
1           19  588a679f-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
2           19  5883e97b-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
3           19  58d47cf1-23d2-11e8-a6a3-ec086b02610b.jpg  opossum
4           19  58d15f82-23d2-11e8-a6a3-ec086b02610b.jpg  opossum

In [54]:
test = cct_updated.sample(frac=0.2, replace=False, random_state=1)

In [55]:
all_ = pd.concat([cct_updated, test])

In [56]:
train = all_.drop_duplicates(keep=False)

In [57]:
len(test)

39260

In [58]:
def is_date_spot(x):
    if x == 0:
        return [1,0]
    else:
        return [0,1]

In [59]:
train['label']=train['category_id'].apply(is_date_spot)
test['label']=test['category_id'].apply(is_date_spot)

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [60]:
test.head()

        category_id                                 file_name     name   label
90922             0  59be3f8a-23d2-11e8-a6a3-ec086b02610b.jpg    empty  [1, 0]
161721           13  59cb3884-23d2-11e8-a6a3-ec086b02610b.jpg  raccoon  [0, 1]
176797           11  5a02fad1-23d2-11e8-a6a3-ec086b02610b.jpg   coyote  [0, 1]
131817            0  5914eef1-23d2-11e8-a6a3-ec086b02610b.jpg    empty  [1, 0]
70081             0  5998cdc8-23d2-11e8-a6a3-ec086b02610b.jpg    empty  [1, 0]

In [61]:
type(train['label'].iloc[0])

list

In [62]:
from keras.applications.resnet50 import ResNet50
from keras.preprocessing import image
from keras.applications.resnet50 import preprocess_input, decode_predictions
import numpy as np 
from keras.preprocessing.image import ImageDataGenerator
import matplotlib.pyplot as plt

from keras import models
from keras import layers
from keras import optimizers

In [63]:
from keras.applications.vgg16 import VGG16
from keras.preprocessing import image
from keras.applications.vgg16 import preprocess_input, decode_predictions
import numpy as np 
from keras.preprocessing.image import ImageDataGenerator
import matplotlib.pyplot as plt

from keras import models
from keras import layers
from keras import optimizers

train_batchsize = 256
val_batchsize = 10
image_size = 128

In [64]:
# Load VGG16 model 
model = VGG16(weights= None, include_top=False, input_shape=(image_size, image_size, 3))

# Freeze the layers except the last 4 layers
# for layer in model.layers[:-4]:
# 	layer.trainable = False

# Check the trainable status of the individual layers
for layer in model.layers:
	print(layer, layer.trainable)

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
<keras.engine.input_layer.InputLayer object at 0x7fdd850bf438> False
<keras.layers.convolutional.Conv2D object at 0x7fdd850bf898> True
<keras.layers.convolutional.Conv2D object at 0x7fdd850bf710> True
<keras.layers.pooling.MaxPooling2D object at 0x7fdf1c4f4b38> True
<keras.layers.convolutional.Conv2D object at 0x7fdf1c4f4e10> True
<keras.layers.convolutional.Conv2D object at 0x7fdf087f3c18> True
<keras.layers.pooling.MaxPooling2D object at 0x7fdf0864cf60> True
<keras.layers.convolutional.Conv2D object at 0x7fdf083674a8> True
<keras.layers.convolutional.Conv2D object at 0x7fdf001cff98> True
<keras.layers.convolutional.Conv2D object at 0x7fdf000ce6d8> True
<keras.layers.pooling.MaxPooling2D object at 0x7fdef47bda20> True
<keras.layers.convolutional.Conv2D object at 0x7fdef47bdcc0> True
<keras.layers.convolutional.Conv2D object at 0x7fdef467b940> True
<keras.layers.convolutional.Conv2D object at 0x7fdef4567d30> True
<keras.layers.pooling.MaxPooling2D object at 0x7fdef4335978> True
<keras.layers.convolutional.Conv2D object at 0x7fdef4335438> True
<keras.layers.convolutional.Conv2D object at 0x7fdef41ad5f8> True
<keras.layers.convolutional.Conv2D object at 0x7fdef40cbc50> True
<keras.layers.pooling.MaxPooling2D object at 0x7fde847bab70> True

In [65]:
# Create the new model 
model_new = models.Sequential()

# Add the VGG16 Conv to the base model 
model_new.add(model)

#  Add new layers
model_new.add(layers.Flatten())
model_new.add(layers.Dense(1024, activation= 'relu'))
model_new.add(layers.Dropout(0.5))
model_new.add(layers.Dense(1024, activation= 'relu'))
model_new.add(layers.Dropout(0.5))
model_new.add(layers.Dense(2, activation= 'softmax'))

# Show a summary of the model
print(model_new.summary())

WARNING:tensorflow:From /home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
vgg16 (Model)                (None, 4, 4, 512)         14714688
_________________________________________________________________
flatten_1 (Flatten)          (None, 8192)              0
_________________________________________________________________
dense_1 (Dense)              (None, 1024)              8389632
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_2 (Dense)              (None, 1024)              1049600
_________________________________________________________________
dropout_2 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 2050
=================================================================
Total params: 24,155,970
Trainable params: 24,155,970
Non-trainable params: 0
_________________________________________________________________
None

In [66]:
train_datagen = ImageDataGenerator(	rescale= 1./255,
									rotation_range = 20,
									width_shift_range = 0.2,
									height_shift_range = 0.2,
									horizontal_flip = True,
									fill_mode = 'nearest')

validation_datagen = ImageDataGenerator(rescale= 1./255)


train_generator = train_datagen.flow_from_dataframe(dataframe=train,
                                                    directory= "/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT_images/",
													x_col="file_name",
                                                    y_col = "label",
                                                    target_size=(image_size, image_size),
													batch_size= train_batchsize,
													class_mode= 'categorical')

validation_generator = validation_datagen.flow_from_dataframe(dataframe=test,
                                                              directory="/data/animals/iWildCam_2019_CCT/iWildCam_2019_CCT_images/",
                                                              x_col="file_name",
                                                                y_col = "label",
																target_size = (image_size, image_size),
																batch_size = val_batchsize,
																class_mode = 'categorical',
																shuffle= False)

Found 156813 images belonging to 2 classes.
Found 39246 images belonging to 2 classes.

In [67]:
from keras import backend as K
K.tensorflow_backend._get_available_gpus()

from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 12831315258166425923
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 4231955636999420881
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:1"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 324282202680921131
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:2"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 13453798377825807044
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:3"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 12878299282427248282
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:4"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 15636314298551033614
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:5"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 6725233568463903777
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:6"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 13588014273970403562
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:7"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 16056159960046034551
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 6052524553815068656
physical_device_desc: "device: XLA_CPU device"
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 10614187385553097107
physical_device_desc: "device: 0, name: Tesla K80, pci bus id: 0000:00:17.0, compute capability: 3.7"
, name: "/device:GPU:1"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 9728924650010451144
physical_device_desc: "device: 1, name: Tesla K80, pci bus id: 0000:00:18.0, compute capability: 3.7"
, name: "/device:GPU:2"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 2828551342981742341
physical_device_desc: "device: 2, name: Tesla K80, pci bus id: 0000:00:19.0, compute capability: 3.7"
, name: "/device:GPU:3"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 10997288604442327752
physical_device_desc: "device: 3, name: Tesla K80, pci bus id: 0000:00:1a.0, compute capability: 3.7"
, name: "/device:GPU:4"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 18023055237170729446
physical_device_desc: "device: 4, name: Tesla K80, pci bus id: 0000:00:1b.0, compute capability: 3.7"
, name: "/device:GPU:5"
device_type: "GPU"
memory_limit: 11323703296
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 10521553189121378351
physical_device_desc: "device: 5, name: Tesla K80, pci bus id: 0000:00:1c.0, compute capability: 3.7"
, name: "/device:GPU:6"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 7
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 9111742295800992029
physical_device_desc: "device: 6, name: Tesla K80, pci bus id: 0000:00:1d.0, compute capability: 3.7"
, name: "/device:GPU:7"
device_type: "GPU"
memory_limit: 11323765556
locality {
  bus_id: 1
  links {
    link {
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 1
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 2
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 3
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 4
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 5
      type: "StreamExecutor"
      strength: 1
    }
    link {
      device_id: 6
      type: "StreamExecutor"
      strength: 1
    }
  }
}
incarnation: 8260218044951958223
physical_device_desc: "device: 7, name: Tesla K80, pci bus id: 0000:00:1e.0, compute capability: 3.7"
]

In [ ]:

#Compile the model 
model_new.compile(loss= 'categorical_crossentropy', 
					optimizer = optimizers.RMSprop(lr=1e-4),
					metrics= ['acc'])

#Train the model 
history = model_new.fit_generator(train_generator,
								steps_per_epoch= train_generator.samples/train_generator.batch_size,
								epochs= 5,
								shuffle= True,
								validation_data= validation_generator,
								validation_steps= validation_generator.samples/validation_generator.batch_size,
								verbose= 1)



#saving the model
model_new.save('vgg16_model.h5')

Epoch 1/5
613/612 [==============================] - 9627s 16s/step - loss: 1.3863 - acc: 0.4943 - val_loss: 1.3863 - val_acc: 1.0000
Epoch 2/5
613/612 [==============================] - 9186s 15s/step - loss: 1.3863 - acc: 0.5008 - val_loss: 1.3863 - val_acc: 0.0000e+00
Epoch 3/5
613/612 [==============================] - 9202s 15s/step - loss: 1.3863 - acc: 0.4992 - val_loss: 1.3863 - val_acc: 1.0000
Epoch 4/5
613/612 [==============================] - 9191s 15s/step - loss: 1.3863 - acc: 0.5008 - val_loss: 1.3863 - val_acc: 0.0000e+00
Epoch 5/5
384/612 [=================>............] - ETA: 44:53 - loss: 1.3863 - acc: 0.5000